@{ Layout = "~/Views/Shared/_EmployeeLayout.cshtml"; }

@model PizzaWebsite.Models.ManageOrderViewModel

@{
    ViewData["Title"] = "Orders";
}

<h1>Orders</h1>


<form asp-controller="Employee" asp-action="Manager" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-controller="Employee" asp-action="Manager">Back to Full Orders</a>
        </p>
    </div>
</form>

<table class="table" style="background-color:slategray;">
    <thead>
        <tr>
            <th>
                Order Number
            </th>
            <th>
                Customer Name
            </th>
            <th>
                Order Time
            </th>
            <th>
                Order Details
            </th>
            <th>
                Order Status
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.Orders)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => order.Id)
            </td>
            <td>

                @(string.Format("{0},{1}",
                     order.CustomerFirstName,
                     order.CustomerLastName))
            </td>
            <td>
                @Html.DisplayFor(modelItem => order.OrderTime)
            </td>
            <td>
                <table class="table table-hover" style="background-color:powderblue;">
                    <thead>
                        <tr>
                            <th class="text-sm-center">Product</th>
                            <th class="text-sm-center">
                                Quantity
                            </th>
                            <th class="text-right">
                                Unit Price
                            </th>
                            <th class="text-right">
                                Sub-total
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderDetails[order])
                        {
                            <tr>
                                <td>
                                    @(string.Format("{0} ({1})",
                                                item.Product.Name,
                                                item.Portion.Label))
                                </td>
                                <td class="text-sm-center">
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td class="text-right">
                                    @item.UnitPrice.ToString("c2")
                                </td>
                                <td class="text-right">
                                    @((item.UnitPrice * item.Quantity).ToString("c2"))
                                </td>

                            </tr>
                        }
                        <tr>
                            <td colspan="5"></td>
                        </tr>
                        <tr class="table-primary" style="font-weight: bold;">
                            <td colspan="3">Total Price:</td>
                            <td class="text-right">@Model.TotalForeachOrder[order].ToString("c2")</td>
                            <td></td>
                        </tr>

                    </tbody>
                </table>
            </td>
            <td>
               
                    @Html.DisplayFor(modelItem => @order.Status)

            </td>
            
            <td>
                <a asp-controller="Employee" asp-action="DeleteOrder" asp-route-Id="@order.Id">Delete</a>
               
            </td>
        </tr>
        }
    </tbody>
</table>
